body,html{
  overflow-x: hidden;
}

:root{
  --back-inp:#EBEFF1;
}
@font-face {
  font-family: "regular";
  src: url(./Poppins-Regular.ttf);
}
body{
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
/* justify-content: center; */
font-family: "regular";
}
.container{
  width:80%;
  margin: 0 auto;
  /* border:1px solid red; */
  display: flex;
  flex-direction: column;
}
.container .nav{
  position: relative;
  width: 100%;
  /* border: 1px solid green; */
  display: flex;
  align-items: center;
  column-gap: 15px;

}
.container .nav .logo{
  width: 13%;

}
.container .nav .logo img{
  width: 100%;
  object-fit: contain;
  cursor: pointer;
}
.container .nav .comb{
  display: flex;
  align-items: center;
  width: 69%;
}
.container .nav .comb .inp{
  font-size: 1rem;
  padding: 0.5rem;
  background:var(--back-inp);
  border: none;
  border-right: 0.5px solid rgb(189, 189, 189);
appearance: auto;
outline: none;
width: 100%;
font-family: "regular";
}
.container .nav .comb .sel{
  width: 25%;
  border-radius: 7px 0 0 7px;
  cursor: pointer;
}
.container .nav .btn-set{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 18%;
  /* border: 1px solid red; */
  
}
.container .nav .comb .svg{
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--back-inp);
  /* border: 1px solid red; */
  padding: 0.8rem;
  border-radius: 0 7px 7px 0;
  cursor: pointer;
}
.container .nav .comb .svg svg{
  fill: #7A8B98;
}
.btn{
  padding: 10px 12px;
  font-size: 1rem;
  border: 1px solid transparent;
  cursor: pointer;
  font-weight: 600;

}
.btn-p{
  color: #00000099;
  background: white;
  transition: all 0.3s ease 0s;
}
.btn-p:hover{
  background: var(--back-inp);
  border-radius: 8px;
}
.btn-s{
  color: #0A66c2;
  border: 1px solid #0A66c2;
  border-radius: 20px;
  font-weight:600;
  background: white;
  transition: all 0.3s ease 0s;
}
.btn-s:hover{
  background: #0a66c21c;
  /* border: 2px solid #0A66c2; */
}
.container .Dasboard{
  display: flex;
  width: 100%;
  position: relative;
}
.container .left-das{
  position: relative;
  width: 70%;
  /* height: 90vh;   */
  /* border: 1px solid red; */
}
.container .left-das .main{
  position: relative;
  width: 100%;
  border: 0.5px solid #ddd;
  border-radius: 12px;
  padding-bottom: 1rem;
}
.container .left-das .main .img{
  width: 100%;
  height: 150px;
  background: url(./images/back.jpg);
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  /* overflow: hidden; */
  border-radius: 12px 12px 0 0;
  background-position-y: -14rem;
  position: relative;
  
}
.container .left-das .main .img .sub-img{
  width: 18%;
  position: absolute;
  top: 4.5rem;
  left: 3rem;
  
}
.container .left-das .main .img .dot{
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -3.5rem;
  right: 1rem;
  border-radius: 50%;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.container .left-das .main .img .dot:hover{
  background: var(--back-inp);
}
.container .left-das .main .img .sub-img img{
width: 100%;
object-fit: contain;
border-radius: 12px;
box-shadow: 1px 2px 5px rgb(153, 148, 148);
}
.container .left-das .main .com{
  /* border: 1px solid red; */
  position: relative;
  margin-top: 5.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  
}
.container .left-das .main .com .head{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  
}
.container .left-das .main .com .head .heading a{
font-size: 1.5rem;
margin-left: 2.8rem;
}
.container .left-das .main .com .head .emp{
  display: flex;
  /* border: 1px solid green; */
  position: relative;
  width: 350px;
  height: 30px;
  align-items: center;
}
.container .left-das .main .com .head .emp .img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.container .left-das .main .com .head .emp .img img{
  width: 100%;
  object-fit: contain;

}
.container .left-das .main .com .head .emp .img:nth-child(1){
position: absolute;
top: 0;
left: 0;
}
.container .left-das .main .com .head .emp .img:nth-child(2){
  position: absolute;
  top: 0;
  left: 1.5rem;
  }
  .container .left-das .main .com .head .emp .img:nth-child(3){
    position: absolute;
    top: 0;
    left: 2.8rem;
    }
    .container .left-das .main .com .head .emp .tag{
      position: absolute;
      top: 0;
      left: 6rem;
      color: #0A66c2;
      cursor: pointer;
    }
    .container .left-das .main .com .head .emp .tag:hover{
  text-decoration: underline;
    }
    .container .left-das .main .com2{
      width: 100%;
      display: flex;
      align-items: center;
    
    }
    .container .left-das .main .com2 a{
      margin-left: 2.8rem;
    }
    .container .left-das .main .com2 a.light{
color: #8090AF;
padding: 0.5rem 0;
    }
    .container .left-das .main .com2 button{
      margin-left: 2.8rem;
    margin-top: 0.5rem;
    padding-left: 20px;
    padding-right: 20px;
    }
    .container .left-das .about{
      display: flex;
      flex-direction: column;
      width: 100%;
      position: relative;
      margin-left: 1.8rem;
      /* border: 1px solid red; */
    }
    .container .left-das .about .head{
      width: 100%;
      display: flex;
      padding-top: 1rem;
     
    }
    .container .left-das .about .head a{
      font-size: 1.5rem;
    }
    .container .left-das .about .para{
      display: flex;
      flex-direction: column;
      font-size: 1.1rem;
    }
    .container .left-das .about .data{
      display: flex;
      flex-direction: column;
      width: 60%;
      padding-bottom: 1rem;
      border-bottom: 0.5px solid #ddd;
    }
    .container .left-das .about .data .fst{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      margin-top: -0.5rem;
    }
    .container .left-das .about .data .fst .head{
      width: 50%;
    }
    .container .left-das .about .data .fst .head a{
      font-size: 1.1rem;
      font-weight: 600;
    }
    .container .left-das .about .data .fst .para{
      width: 50%;
    }
    .container .left-das .about .data .fst .para a{
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #0A66c2;}  
      .container .left-das .about .data .fst .para a:last-child span{
        margin-left: 0.5rem;
        }
        .container .left-das .about .data .fst_set {
          width: 900px;
        }
        .container .left-das .about .data .fst_set .para_set{
          width: 80%;
          margin-left: -8.3rem;
        }
        .container .right_das{
          position: relative;
          width: 30%;
          /* border: 1px solid red; */
          padding-left: 1.8rem;
          display: flex;
          flex-direction: column;
        }
        .container .right_das .head{
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: flex-start;
          margin-bottom: 1rem;
          margin-left: 1rem;
          position: relative;
        }
        .container .right_das .sec_head{
          padding-top: 1rem;
        }
        .container .right_das .head a{
          text-decoration: none;
          font-size: 1.3rem;
        }
.container .right_das .fst{
  display: flex;
  width: 100%;
  margin-bottom: 0.8rem;
}
.container .right_das .fst .set_up{
  display: flex;
  width: 100%;
  cursor: pointer;
}
.container .right_das .fst .set_up .img{
  width: 80px;
  height: 80px;
  /* border: 1px solid green; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.container .right_das .fst .set_up .img img{
  width: 100%;
  object-fit: contain;
  border-radius: 5px;
}
.container .right_das .fst .set_up .para{
  display: flex;
  flex-direction: column;
  /* border: 1px solid green; */
  width: 100%;
  padding-left: 1rem;
}
.container .right_das .fst .set_up .para a:first-child{
  font-weight: 600;
  transition: all 0.3s ease 0s;
}
.container .right_das .fst .set_up .para a:first-child:hover{
  text-decoration: underline;
}
.container .right_das .fst .set_up .para a:nth-child(2){
 
  color: #292828;
}
.container .right_das .fst .set_up .para a:nth-child(3){
  color: #414141;
}
.container .right_das .btn_setup{
  cursor: pointer;
}
.container .right_das .btn_setup .btn-p{
display: flex;
align-items: center;
}
.container .right_das .btn_setup .btn-p span{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0.5rem;
}
.container .right_das .jobs{
  display: flex;
  flex-direction: column;
  /* border: 1px solid rebeccapurple; */
  position: relative;
  margin-left: 1.2rem;
  cursor: pointer;
  margin-bottom: 0.8rem;
}
.container .right_das .jobs:hover a{
  text-decoration: underline;
}
.container .right_das .jobs a{
  font-weight: 600;
  transition: all 0.3s ease 0s;
  line-height: 1;
 
}
.container .right_das .jobs p{
  line-height: 0.5;
  color: #414141;
}

.container .left-das .location{
  /* border: 1px solid red; */
  width: 100%;
  position: relative;
  margin-left: 1.8rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ddd;
}
.container .left-das .location .head{
  width: 100%;
  display: flex;
  align-items: center;
}
.container .left-das .location .head a{
  font-size: 1.5rem;
  padding: 0;
}
.container .left-das .location .div_set{
  /* border: 1px solid green; */
  display: flex;
  width: 100%;
}
.container .left-das .location .div_set .fst{
  width: 50%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: flex-start;
  padding-top:0.5rem;
}

.container .left-das .location .div_set .fst .spanbtn{
  padding: 0;
  margin:0;
  font-size: 0.8rem;
  padding: 0.3rem 0.5rem;
  background-color:rgb(219, 214, 214);
  width: fit-content;
  color: #000000E6;
  font-weight: 600;

}
.container .left-das .location .div_set .sec{
  width: 50%;
}
.container .left-das .location .div_set .sett{
  color: #0A66c2;
  display: flex;
  align-items: center;
  text-decoration: none;
  position: relative;
  margin-top: -0.8rem;
  transition: all 0.3s ease 0s;
}
.container .left-das .location .div_set .sett:hover{
  text-decoration: underline;
}
.container .left-das .location .div_set .sett span{
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

.container .left-das .intro{
  width: 100%;
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  margin-left: 2rem;
  padding: 1rem 0;
}
.container .left-das  .intro_head{
  margin-bottom: 0.5rem;
  padding-top: 1rem;
  margin-left: 2rem;
}
.container .left-das  .intro_head a{
  text-decoration: none;
  font-size:1.5rem;
}
.container .left-das .intro .node{
  display: flex;
  cursor: pointer;
  margin-bottom: -1rem;
  /* border: 1px solid red; */
}
/* .container .left-das .intro .node:nth-child() */
.container .left-das .intro .node:hover .para a{
  text-decoration: underline;
}
.container .left-das .intro .node .img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .left-das .intro .node .img img{
  object-fit: contain;
  width: 100%;
}
.container .left-das .intro .node .para{
  display: flex;
  flex-direction: column;
  width: 80%;
  padding:0;
  margin:0;
  margin-left: 1rem;
}
.container .left-das .intro .node .para a{
  text-decoration: none;
  font-weight: 600;
}
.container .left-das .intro .node .para p{
  margin-top: -0.1rem; 
}
.container .left-das .update{
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  position: relative;
}
.container .left-das .update .head{
  width: 100%;
  display: flex;
  padding: 1rem 0;
}
.container .left-das .update .head a{
  font-size: 1.5rem;
}
.container .left-das .update .card{ 
  border: 1px solid #ddd;
  width: 70%;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  margin-bottom: 1rem;
}
.container .left-das .update .card .head{
  width: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  /* border: 1px solid red; */
}
.container .left-das .update .card .head .left{
  display: flex;
  /* border: 1px solid red; */
}
.container .left-das .update .card .head .img{
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .left-das .update .card .head img{
  width: 100%;
  object-fit: contain;
}
.container .left-das .update .card .head .left .para{
  display: flex;
  flex-direction: column;
  padding:0;
  margin: 0;
}
.container .left-das .update .card .head .left .para a{
  font-size: 1rem;
  font-weight: 600;
}
.container .left-das .update .card .head .left .para p{
 line-height: 0;
 font-size: 0.8rem;
 color: #7A8B98;
 padding: 0;
 margin-top: 0.6rem;
}
.container .left-das .update .card .head .right{
  display: flex;
  /* border: 1px solid red; */
}
.container .left-das .update .card .head .right .dot{
display: flex;
align-items: center;
justify-content: center;
margin-right: 1.5rem;
cursor: pointer;
}
.container .left-das .update .card .para2{
  padding: 0rem 0.8rem;
  margin-top: -1.5rem;
}
.container .left-das .update .card .main{
  width: 100%;
  position: relative;
  border-radius: none;
  background-color: #F3F6F8;
}
.container .left-das .update .card .main .img{
  width: 300px;
  height: 300px;
  position: relative;
  top: 0;
  left: 30%;
  border-radius: none;
}
.container .left-das .update .card .main .img img{
  object-fit: contain;
  width: 100%;
  height:100%;
}
.container .left-das .update .card .like{
  width: 100%;
  display: flex;
  padding: 0.5rem 0.3rem;
  border-bottom: 0.5px solid #ddd;
}
.container .left-das .update .card .like .svg{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.container .left-das .update .card .like a{
  font-size: 0.8rem;
  margin-left: 0.5rem;
  cursor: pointer;
}
.container .left-das .update .card .btn_sett{
  display: flex;
  padding: 0.5rem;
}
.container .left-das .update .card .btn_sett button{
  margin-left: 0.1rem;
  border-radius: 5px;
}